@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* :root {
  --primary-color: #0066FF;
  --secondary-color: #FF5C00;
  --tertiary-color: #00C395;
  --text-color: #4f6d98;

  --primary-color-tint: #61a0ff;
  --secondary-color-tint: #ffede2;
  --tertiary-color-tint: #d3fff5;
} */

/* --secondary-color: #FF8A5B;
 */
/* --primary-bg: #131515; */

:root {
  --primary-color: #9381ff;
  --secondary-color: #274060;
  --tertiary-color: #274060;
  --text-color: #4f6d98;

  --primary-color-tint: #b8b8ff;
  --secondary-color-tint: #ffeedd;
  --tertiary-color-tint: #d3fff5;

  --primary-bg: #f8f7ff;

  --cherry-color: #fa5353;
  --chery-color-tint: #ffe4e4;
}

body {
  max-width: 1140px;
  margin: auto;
  background-color: var(--primary-bg);
}

.section-heading {
  font-size: clamp(40px, 5vw, 60px);
  margin: 5rem;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 1.1;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.text {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.cta-btn {
  border: 2px solid var(--cherry-color);
  color: var(--cherry-color);

  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  background: transparent;
  width: 116px;
  height: 50px;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.cta-btn:hover {
  background-color: var(--chery-color-tint);
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
} */

.sm-icons {
  display: none;
}
@media only screen and (min-width: 1600px) {
  .sm-icons {
    display: block;
    position: fixed;
    top: 75vh;
    left: 150px;
    text-align: center;
  }

  .sm-icons a {
    text-decoration: none;
  }
  .sm-icons .fa {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--cherry-color);
  }

  .sm-icons .long-line {
    height: 20vh;
    width: 2px;
    border-radius: 4px;
    background-color: var(--cherry-color);
    margin-left: 6px;
    margin-right: 50px;
    margin: auto;
  }
}
